{% extends extend_val %}
{% load static %}



{% block content %}
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col col-lg-6">
			<h1 class="py-5"> Need Help? </h1>
			<h3 class="py-1"> Email us! </h3>
			<div>
				<p>
				<span class="pr-4 font-weight-bold"> Zach: </span>
				zwilliams@mail.csuchico.edu
				</p>
			</div>
			<div>
				<p>
				<span class="pr-4 font-weight-bold"> Chris: </span>
				cmaul@mail.csuchico.edu
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

