{% extends var %}
{% load static %}


{% block content %}

    {{ project.name }}
    {{ project.date }}
    <a href="/profile/{{ project.user.username }}">
        {{ project.user.username }}
    </a>
    <section class="slider">
        <div id="slider" class="flexslider">
            <ul class="slides">
                {% for i in image_object %}
                    <li>
                        <img src="{{ i.image.url }}">        
                        </img>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="carousel" class="flexslider">
            <ul class="slides">
                {% for i in image_object %}
                    <li>
                        <img src="{{ i.image.url }}">        
                        </img>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <img src="{{ project_rating }}" />
    {{ project.git_hub_link }}
    {{ project.description }}

    {% if current_flags.is_authenticated %}
	    <form method="POST" style="margin-top:50px;">
            {% csrf_token %}
            {{ comment_form }}
		    <button class="btn" style="width:50%;">add comment</button>
        </form>
    {% endif %}


    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
            {% for comment in comment_list %}
                <tr>
                    <td>


                        <div class="media">
                          <div class="media-left">
                            <img src="{{ comment.comment.profile.profile_image.url }}" class="media-object" style="width:60px">
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">
                            <a href="/profile/{{ comment.comment.profile.user.username }}">{{ comment.comment.profile.user.username }}</a>
                            Posted on {{ comment.comment.date }}
                            <img src="{{ comment.rating_url }}" />
                            </h4>
                            <p>{{ comment.comment.comment }}</p>
                          </div>
                        </div>


                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}


{% block additional_scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
<script defer="" src="{% static "js/jquery.flexslider-min.js" %}"></script>
<script type="text/javascript">
    $(window).load(function(){
      $('#carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        itemWidth: 210,
        itemMargin: 5,
        asNavFor: '#slider'
      });

      $('#slider').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        sync: "#carousel",
      });
    });
 </script>
{% endblock %}




