{% extends var %}
{% load static %}


{% block content %}
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col col-lg-6">
			<img id="profile_images" class="img-rounded" src="{{ profile.profile_image.url }}">
		</img>

		<div class="profile_text">
			{{ profile.user.username }}
		</div>
		<div class="profile_text">
			{{ profile.user.first_name }}
		</div>
		<div class="profile_text">
			{{ profile.user.last_name }}
		</div>
		<div class="profile_text">
			{{ profile.user.email }}
		</div>


		{% if current_flags.git_hub_flag %}
		<a class="github-button" href="https://github.com/{{ profile.git_hub_username }}" data-size="large" data-show-count="true" aria-label="Follow @zach on GitHub">Follow @{{ profile.git_hub_username }}</a>
		{% endif %}


		{% if current_flags.linkedin_flag %}
		<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="{{ profile.linkedin_username }}"><a class="LI-simple-link" href='https://www.linkedin.com/in/{{ profile.linkedin_username }}?trk=profile-badge'> {{ meta.first_name }} {{ meta.last_name }}</a></div>
		{% endif %}

	</div>


	<div class="col col-lg-6">
	{% if current_flags.owners_profile_flag %}
		<form method="POST" enctype="multipart/form-data" style="margin-top:50px;">
			{% csrf_token %}
			<div class="form-group">
				{{ edit_profile_form.profile_image.label_tag }}
				{{ edit_profile_form.profile_image.error }}
				{{ edit_profile_form.profile_image }}
			</div>
			<div class="form-group">
				{{ edit_user_form.first_name.label_tag }}
				{{ edit_user_form.first_name.error }}
				{{ edit_user_form.first_name }}
			</div>
			<div class="form-group">
				{{ edit_user_form.last_name.label_tag }}
				{{ edit_user_form.last_name.error }}
				{{ edit_user_form.last_name }}
			</div>
			<div class="form-group">
				{{ edit_user_form.email.label_tag }}
				{{ edit_user_form.email.error }}
				{{ edit_user_form.email }}
			</div>
			<div class="form-group">
				{{ edit_profile_form.git_hub_username.label_tag }}
				{{ edit_profile_form.git_hub_username.error }}
				{{ edit_profile_form.git_hub_username }}
			</div>
			<div class="form-group">
				{{ edit_profile_form.linkedin_username.label_tag }}
				{{ edit_profile_form.linkedin_username.error }}
				{{ edit_profile_form.linkedin_username }}
			</div>
			<button class="btn btn-success" style="width:50%;">edit_profile</button>
		</form>
	{% endif %}
	</div>
</div>
</div>
{% endblock %}
