{% extends var %}
{% load static %}


{% block content %}
    <img id="profile_images" class="img-rounded" src="{{ profile.profile_image.url }}">        
    </img>

    <div class="profile_text">
        {{ meta_user.username }}
    <div>
    <div class="profile_text">
        {{ meta_user.first_name }}
    <div>
    <div class="profile_text">
        {{ meta_user.last_name }}
    <div>
    <div class="profile_text">
        {{ meta_user.email }}
    <div>


    {% if current_flags.git_hub_flag %}
    <a class="github-button" href="https://github.com/{{ profile.git_hub_username }}" data-size="large" data-show-count="true" aria-label="Follow @zach on GitHub">Follow @{{ profile.git_hub_username }}</a>
    {% endif %}


    {% if current_flags.linkedin_flag %}
    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="zachary-sloppy-williams"><a class="LI-simple-link" href='https://www.linkedin.com/in/zachary-sloppy-williams?trk=profile-badge'>Zachary Williams</a></div>
    {% endif %}



    {% if current_flags.owners_profile_flag %}
        <form method="POST" enctype="multipart/form-data" style="margin-top:50px;">
            {% csrf_token %}
            {{ edit_profile_form }}
            {{ edit_user_form }}
            <button class="btn btn-success" style="width:50%;">edit_profile</button>
        </form>
    {% endif %}
{% endblock %}





