{% extends var %}
{% load static %}


{% block content %}
    <img id="profile_images" class="img-rounded" src="{{ profile.profile_image.url }}">        
    </img>

    <div class="profile_text">
        {{ meta_user.username }}
    <div>
    <div class="profile_text">
        {{ meta_user.first_name }}
    <div>
    <div class="profile_text">
        {{ meta_user.last_name }}
    <div>
    <div class="profile_text">
        {{ meta_user.email }}
    <div>

    <a class="github-button" href="{{ profile.github_link }}" data-size="large" data-show-count="true" aria-label="Follow @zach on GitHub">Follow @{{ profile.user.username }}</a>
    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="zachary-sloppy-williams"><a class="LI-simple-link" href='https://www.linkedin.com/in/zachary-sloppy-williams?trk=profile-badge'>Zachary Williams</a></div>

{% endblock %}


